body {
  background: url('../../01/imgs/bg_geral-1.png') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
  overflow-x: hidden;
}

.container {
  background-color: #fff;
}

/* .code1 .hljs-meta{
  background-color:darkolivegreen!important;
} */

/*  */
.destaque_code {
  background-color: #000;
  padding: 6px 25px;
  margin-top: -20px;
  margin-bottom: -25px;
  display: block;
}

/* .destaque_code span{
  background-color: aquamarine !important;} */
.hljs-dstq {
  background-color: aquamarine !important;
}

.lista2 li {
  list-style: none;
}

.lista2 li::before {
  content: '';
  display: inline-block;
  margin-right: 10px;

  /* Height of the list image*/
  height: 25px;

  /* Width of the list image*/
  width: 25px;
  background-image: url("../imgs/fig-37.png");
  background-size: cover;
}

/* carrosel */

.item {
  background: url("../imgs/slide.svg") no-repeat;
  max-width: 800px;
  height: 463px;
  position: relative;
  background-size: 95%;
  margin-left: 7%;
}

.carousel-control.left {
  background: url("../imgs/seta_esq.png") no-repeat;
  position: absolute;
  top: 40%;
}

.carousel-control.right {
  background: url("../imgs/seta_dir.png") no-repeat;
  position: absolute;
  top: 40%;
}

.carousel-caption {
  bottom: 1px;
  right: 10px;
  left: 10px;
  padding-left: 15px;
  padding-right: 60px;
  color: black;
}

h1 i,
h2 i,
h3 i,
h4 i {
  font-weight: bold;
}

h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}

h4 {
  margin: 0px;
  margin-top: 40px;
}

h2,
h3,
h4,
h5 {
  color: #4170b4;
}

pre {
  padding: 0;
  background: transparent;
  border: none;
  margin: 0;
}

header {
  margin-top: 100px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.parallax {
  min-height: 400px;
  background: transparent;
  width: 100%;
  margin: 50px auto;
}

.info1 {
  background: #6491D8;
  border-radius: 20px;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 50px;
  padding: 35px 30px;
  width: 80%;
  position: relative;
}

.info1 img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -160px;
}

.info1 ul {
  margin: 0;
  padding: 0;
}

.info1 li {
  color: #fff;
}

.info2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 50px auto;
}

.info2 img {
  margin-bottom: 40px;
}

ul.checklist li {
  background: url('../imgs/checklist.png') no-repeat left top;
  background-size: 25px;
  min-height: 25px;
  padding-left: 35px;
  list-style: none;
}

.icone-concluindo {
  background-image: url('../imgs/ico_finalizando.png');
  background-size: 176px 86px;
  padding-left: 220px;
}

.codigo-destaque {
  background: #000;
  color: #a39e9b;
  display: block;
  overflow-x: auto;
  padding: 1em;
}

.code-destaque {
  background-color: #071772 !important;
}

/*---------- MENU ----------*/
.eng-item-menu {
  opacity: 1;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

.eng-item-menu hr {
  width: 75%;
  position: relative;
  background-color: #008da2;
  margin: 0 auto;
  height: 1px;
  border: none;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10,
.item11,
.item12,
.item13,
.item14 {
  width: 100%;
  background-color: #007798;
  cursor: pointer;
  position: relative;
  margin-bottom: 0 !important;
}

.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover,
.item6:hover,
.item7:hover,
.item8:hover,
.item9:hover,
.item10:hover,
.item11:hover,
.item12:hover,
.item13:hover,
.item14:hover {
  transition: 0.3s;
  background-color: #008da2;
}

.fundo-item {
  width: calc(100% - 5px);
  position: relative;
  color: #fff;
  font-size: 16px;
  padding: 15px;
  text-align: center;
  height: calc(100% - 10px);
  margin: 0 5px 2px 0;
  display: inline-block;
  text-align: left;
}

.fundo-item:focus {
  color: #fff;
  text-decoration: none;
}

.fundo-item:hover {
  color: #fff;
  text-decoration: none;
}

.menu,
.bg-fundo {
  position: fixed;
  top: 0;
  left: 0;
}

.menu-checkbox {
  position: fixed;
  left: 0;
  top: 0;
  left: -30px;
}

.menu {
  width: 340px;
  height: 100%;
  transform: translate3d(-340px, 0, 0);
  transition: transform 0.35s;
  z-index: 1000;
}

.bg-fundo {
  background-color: #000;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 500;
  opacity: 0.7;
  filter: alpha(opacity=70);
  display: none;
}

.mod {
  display: block;
}

.overflow {
  overflow: hidden;
  position: relative;
}

.fade-check {
  transform: translate3d(0, 0, 0);
}

.menu ul {
  display: block;
  position: relative;
}

label.menu-toggle {
  position: fixed;
  z-index: 1100;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  line-height: 0px;
  display: block;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  background: #fff url("../objetos/menu-alt.png") 50% 50%/25px 25px no-repeat;
}

.menu ul li>label {
  background: url("../objetos/icon-arrow-right.png") 95% 50%/16px 16px no-repeat;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
  background: none;
}

.scroll-bar {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-left: 50px;
}

.scroll-bar:first-child {
  margin-left: 0px;
}

.force-overflow {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

label.menu-toggle {
  position: fixed;
  z-index: 1100;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  line-height: 0px;
  display: block;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  background: #004b8a url("../imgs/menu-alt.png") 50% 50%/25px 25px no-repeat;

}

.imgBorder {
  border: #004b8a 3px solid;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

/*---------- FIM MENU ----------*/

.botao-1 {
  background: url('../imgs/bt_cont.png');
  width: 192px;
  height: 159px;
  border: none !important;
  filter: drop-shadow(3px 3px 2px rgba(112, 112, 112, 0.75));
}

.botao-1:hover {
  background: url('../imgs/bt_cont_hv.png');
  border: none !important;
}

.botao-2 {
  background: url('../imgs/bt_reputacao_1.png');
  width: 192px;
  height: 159px;
  border: none !important;
  filter: drop-shadow(3px 3px 2px rgba(112, 112, 112, 0.75));
}

.botao-2:hover {
  background: url('../imgs/bt_reputacao_hv.png');
  border: none !important;
}

.botao-3 {
  background: url('../imgs/bt_tecn.png');
  width: 192px;
  height: 159px;
  border: none !important;
  filter: drop-shadow(3px 3px 2px rgba(112, 112, 112, 0.75));
}

.botao-3:hover {
  background: url('../imgs/bt_tecn_hv.png');
  border: none !important;
}

.painel-sites {
  margin-left: 15%;
  margin-right: 15%;
}

.modal-content {
  position: relative;
  background-color: #2875C6;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2pt solid #004B90;
  border-radius: 8px;
  outline: 0;
  filter: drop-shadow(3px 3px 2px rgba(112, 112, 112, 0.75));
}

.modal-content p {
  color: #fff;
}

.modal-content h4 {
  color: #fff;
}

.modal-content li {
  color: #fff;
}

.modal-header .close:focus,
.close:hover {
  color: #fff;
}

.modal-header {
  padding: 15px;
  border-bottom: unset;
}

.marcador-curso li {
  margin-bottom: 0.8em;
  list-style-image: url('../imgs/marcador.png');
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: unset;
}

code,
kbd,
pre,
samp {
  font-family: 'Roboto-mono';
}

.exemplo-1.icone-x {
  padding-left: 100px;
  background-position: 10px center;
  background-size: 80px;
}

.exemplo-2.icone-x {
  padding-left: 100px;
  background-position: 10px center;
  background-size: 80px;
}

.icone-x.negativo {
  background-image: url('../imgs/destaque_errado.png');
}

.icone-x.positivo {
  background-image: url('../imgs/destaque_certo.png');
}

.icone-x {
  background-repeat: no-repeat;
}

.exemplo-1 {
  background-color: #7f0015;
}

.exemplo-1 {
  padding: 1px 60px 0px 0px;
  width: 70%;
  margin: 0 auto;
  margin-top: 0.9em;
  margin-bottom: 1.9em;
  border-radius: 8px;
  font-size: 1.2em;
}

.exemplo-1 h4 {
  color: #fff;
}

.exemplo-2 {
  background-color: #015605;
}

.exemplo-2 {
  padding: 1px 60px 0px 0px;
  width: 70%;
  margin: 0 auto;
  margin-top: 0.9em;
  margin-bottom: 1.9em;
  border-radius: 8px;
  font-size: 1.2em;
}

.exemplo-2 h4 {
  color: #fff;
}

.comment {
  color: #008000 !important;
}

.tag {
  color: #0000FF !important;
  font-weight: bold;
}

.attribute {
  color: #FF4500 !important;
}

.value {
  color: #800080 !important;
}

.mt-5 {
  margin-top: 5%;
}

.destaque-usuarios-buscadores {
  border-radius: 8px;
  padding: 20px;
  color: white;
  text-align: center;

}

.usuarios {
  background-color: #2875C6;
}

.buscadores {
  background-color: #004B90;
}

.icone-x {
  width: 51px;
  height: 51px;
  margin-bottom: 10px;
}

.destaque-usuarios-buscadores h3 {
  color: #fff;
}

.painel-azul {
  margin-left: 12%;
  margin-right: 10%;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body li {
  font-size: 14px;
}

mark {
  background-color: rgb(0, 200, 255);
  color: #000;
  padding: 2px;
  border-radius: 3px;
}

.botao-4 {
  background: url('../imgs/bt_legibilidade.png');
  width: 197px;
  height: 170px;
  border: none !important;
  filter: drop-shadow(3px 3px 2px rgba(112, 112, 112, 0.75));
}

.botao-4:hover {
  background: url('../imgs/bt_legibilidade_hv.png');
  border: none !important;
}

.botao-5 {
  background: url('../imgs/bt_palavras_chaves.png');
  width: 197px;
  height: 170px;
  border: none !important;
  filter: drop-shadow(3px 3px 2px rgba(112, 112, 112, 0.75));
}

.botao-5:hover {
  background: url('../imgs/bt_palavras_chaves_hv.png');
  border: none !important;
}

.botao-6 {
  background: url('../imgs/bt_compartilhamento.png');
  width: 197px;
  height: 170px;
  border: none !important;
  filter: drop-shadow(3px 3px 2px rgba(112, 112, 112, 0.75));
}

.botao-6:hover {
  background: url('../imgs/bt_compartilhamento_hv.png');
  border: none !important;
}

.botao-7 {
  background: url('../imgs/bt_aparencia.png');
  width: 197px;
  height: 170px;
  border: none !important;
  filter: drop-shadow(3px 3px 2px rgba(112, 112, 112, 0.75));
}

.botao-7:hover {
  background: url('../imgs/bt_aparencia_hv.png');
  border: none !important;
}

.painel-amigaveis {
  margin-left: 5%;
  margin-right: 5%;
}

.imagem-google {
  margin-top: 13%
}

.nav-tabs {
  margin-left: unset !important;
}


/* infografico */

.texto-esquerda-1 {
  margin-top: -14%;
  position: absolute;
  padding-left: 15%;
  padding-right: 0%;
  margin-left: 23%;
  margin-right: -10%;
}

.texto-direita-1 {
  margin-top: -18%;
  position: absolute;
  padding-left: 0%;
  padding-right: 51%;
  margin-left: -26%;
}

.bloco1 {
  margin-left: 0%;
  margin-right: 0%;
}

.infografico-1 .bloco1 {
  padding-left: unset;
  padding-right: unset;
}

.img-esquerda-1 {
  margin-left: 19%;
  margin-right: 8%;
}

.linha-vertical {
  width: 2px;
  /* Largura da linha */
  height: 850px;
  /* Altura da linha */
  background-color: #007bff;
  /* Cor da linha */
  margin: 0 0;
  margin-left: 33.5%
}

.img-direita-1 {
  margin-left: -30%;
  margin-right: 8%;
}









@media screen and (max-width: 820px) {
  .painel-sites {
    margin-left: 10%;
    margin-right: 10%;
  }

  .imagem-destaque {
    margin-top: 11%;
  }

  .painel-azul {
    margin-left: unset;
    margin-right: unset;
  }

  .painel-amigaveis {
    margin-left: unset;
    margin-right: unset;
  }

}




@media screen and (max-width: 780px) {
  .parallax {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .caixa-destaque code {
    word-break: break-word;
  }

  .icons8 {
    margin-left: unset;
  }

  .exemplo-1,
  .exemplo-2 {
    padding: 1px 60px 0px 0px;
    width: 100%;
    margin: 0 auto;
    margin-top: 0.9em;
    margin-bottom: 1.9em;
    border-radius: 8px;
    font-size: 1.2em;
  }

  .painel-azul {
    margin-left: unset;
    margin-right: unset;
  }

  .destaque-usuarios-buscadores {
    margin-bottom: 3%;
  }

  body {
    word-break: break-all;
  }





}


@media screen and (max-width: 980px) {
  .icone-concluindo {
    background-position: top 10px center;
    padding-top: 120px;
    padding-left: 5px;
  }
}

@media screen and (max-width: 1000px) {
  .parallax {
    display: none;
  }

}