body {
  background: url('../imgs/BG1.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  color: #fff;
}

.info1,
.info2,
.info3,
.info4,
.info5,
.info6 {
  background-image: url('../imgs/infografico.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 399px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.info1::before {
  content: "é o valor padrão, que indica que os elementos estarão alinhados da esquerda para a direita.";
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 14pt;
  color: #666666;
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.info2::before {
  content: "inverte o alinhamento, indicando que os elementos ficarão alinhados da direita para a esquerda.";
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 14pt;
  color: #666666;
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.info3::before {
  content: "centraliza os elementos.";
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 14pt;
  color: #666666;
  position: absolute;
  bottom: 160px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.info4::before {
  content: "distribui os elementos com espaçamentos iguais entre eles. No entanto, o primeiro e último elemento de cada linha ficam colados em suas extremidades, ou seja, não há margens horizontais entre o início e fim de cada linha.";
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 14pt;
  color: #666666;
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.info5::before {
  content: "distribui os elementos com o mesmo espaçamento entre eles, incluindo as extremidades da linha.";
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 14pt;
  color: #666666;
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.info6::before {
  content: "distribui os elementos de forma que o espaçamento entre eles, incluindo o espaço entre as bordas do elemento pai, seja igual.";
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 14pt;
  color: #666666;
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.info1::after {
  content: "justify-content-start";
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 17pt;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.info2::after {
  content: "justify-content-end";
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 17pt;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.info3::after {
  content: "justify-content-center";
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 17pt;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.info4::after {
  content: "justify-content-between";
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 17pt;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.info5::after {
  content: "justify-content-around";
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 17pt;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.info6::after {
  content: "justify-content-evenly";
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 17pt;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.icone-fundamental {
  background-image: url(../imgs/destaque_exemplo.png);
}

.caixa-destaque {
  color: #fff;
  background-color: #256CB5;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  margin-bottom: 50px !important;
  margin-top: 50px !important;
}

.img-zoom {
  display: table;
  position: relative;
  margin: 0px auto;
  cursor: pointer;
}

.img-zoom::after {
  content: url('../imgs/ico_zoom.png');
  display: block;
  width: 95px;
  height: 95px;
  right: 5px;
  bottom: 5px;
  position: absolute;
  filter: drop-shadow(#333 3px 3px 4px);
}

.caixa-destaque-diferente {
  padding: 2em;
  width: 70%;
  margin: 0 auto;
  border-radius: 0px;
  font-size: 1.2em;
  color: #fff;
  background-color: #0b6bae;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  margin-top: 40px;
}

.caixa-destaque-diferente::after {
  content: '';
  position: absolute;
  right: -20px;
  top: -10px;
  width: 30px;
  height: 115%;
  background-color: #004b90;
  z-index: -1;
}

.caixa-destaque-diferente::before {
  content: '';
  position: absolute;
  right: -35px;
  top: -10px;
  width: 6px;
  height: 115%;
  background-color: #004b90;
  z-index: 0;
}

.direita {
  position: absolute;
  left: -35px;
  top: -10px;
  width: 6px;
  height: 115%;
  background-color: #004b90;
  z-index: -1;
}

.esquerda {
  position: absolute;
  left: -20px;
  top: -10px;
  width: 30px;
  height: 115%;
  background-color: #004b90;
  z-index: 0;
}

.caixa-destaque-diferente1 {
  padding-bottom: 30px;
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
  border-radius: 0px;
  font-size: 1.2em;
  color: #fff;
  background-color: #0b6bae;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  margin-top: 40px;
}

.caixa-destaque-diferente1::after {
  content: '';
  position: absolute;
  right: -20px;
  top: -10px;
  width: 30px;
  height: 105%;
  background-color: #004b90;
  z-index: -1;
}

.caixa-destaque-diferente1::before {
  content: '';
  position: absolute;
  right: -35px;
  top: -10px;
  width: 6px;
  height: 105%;
  background-color: #004b90;
  z-index: 0;
}

.direita1 {
  position: absolute;
  left: -35px;
  top: -10px;
  width: 6px;
  height: 105%;
  background-color: #004b90;
  z-index: -1;
}

.esquerda1 {
  position: absolute;
  left: -20px;
  top: -10px;
  width: 30px;
  height: 105%;
  background-color: #004b90;
  z-index: 0;
}

/* COMEÇO MODIFICAÇÔES MODAIS */
.topo-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 245px;
  background-image: url('../imgs/BG_modal_topo.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-body {
  background-image: url('../imgs/BG_modal.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: flutuacao 20s linear infinite;
  padding-top: 200px;
}

@keyframes flutuacao {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 0 0;
  }
}

.header1,
.header2,
.header3,
.header4,
.header5 {
  background-image: url('../imgs/modal_topo_title.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 115px;
  z-index: 1;
  position: relative;
  margin-top: -155px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header1::after {
  content: "Instalando o Bootstrap";
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 30pt;
}

.header2::after {
  content: "Desenvolvendo layouts com Bootstrap";
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 30pt;
}

.header3::after {
  content: "Estilizando conteúdos e imagens";
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 30pt;
}

.header4::after {
  content: "Criando formulários com Bootstrap";
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 30pt;
}

.header5::after {
  content: "Conhecendo componentes Bootstrap";
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 30pt;
}

/* FIM MODIFICAÇÔES MODAIS */

h2 {
  color: #fff;
}

.hljs {
  background: #161616 !important;
}

code,
kbd,
pre,
samp {
  font-family: 'Roboto-mono';
}

/*----------- CARDS -----------*/
.img-cards {
  width: 276px;
  height: 332px;
  cursor: pointer;
}

.flip-card {
  height: 332px;
  padding-top: 10px;
  width: 60%;
  margin: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 2px solid #2875c6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(40% 45% at 13% 97%, #00427CDE 0%, #073AFF00 100%), radial-gradient(36% 27% at 16% 52%, #66a4f3 6%, #073AFF00 100%), radial-gradient(37% 50% at 14% 5%, #1E6DBDFF 3%, #073AFF00 100%), radial-gradient(31% 41% at 93% 56%, #155DA5FF 0%, #073AFF00 100%), radial-gradient(34% 39% at 91% 13%, #66a4f3 0%, #073AFF00 99%), radial-gradient(39% 51% at 41% 88%, #66a4f3 0%, #073AFF00 100%), radial-gradient(23% 42% at 57% -5%, #66a4f3 0%, #073AFF00 100%), radial-gradient(35% 56% at 95% 93%, #66a4f3 9%, #073AFF00 100%), linear-gradient(125deg, #4EB5FFFF 1%, #004b90 100%);
  color: #fff;
  font-family: 'Roboto-mono';
  font-weight: bold;
  font-size: 28pt;
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: #fff;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 20pt;
  color: #666666;
  padding: 20px;
}

/*----------- /CARDS -----------*/
header {
  margin-top: 100px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

li {
  list-style-image: url(../imgs/marcador.png);
  margin-bottom: 0.5em;
}

/* INICIO PAINEL 1 */
.painel1 {
  display: flex;
  background: url(../imgs/painel_BG.png) no-repeat;
  width: 100%;
  background-size: 100% 100%;
  height: 783px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  box-shadow: 0 0 7px rgba(4, 27, 73, 0.8);
}

.btn-painel1 {
  border: none;
  width: 714px;
  height: 84px;
  background-color: transparent;
  margin: 20px;
  transition: transform 0.3s ease;
  position: relative;
}

.btn1-painel1.visto {
  background:
    url(../imgs/painel_bt1.png) no-repeat center,
    url(../imgs/painel_bt_check.png) no-repeat center right 20px;
}

.btn2-painel1.visto {
  background:
    url(../imgs/painel_bt2.png) no-repeat center,
    url(../imgs/painel_bt_check.png) no-repeat center right 20px;
}

.btn3-painel1.visto {
  background:
    url(../imgs/painel_bt3.png) no-repeat center,
    url(../imgs/painel_bt_check.png) no-repeat center right 20px;
}

.btn4-painel1.visto {
  background:
    url(../imgs/painel_bt4.png) no-repeat center,
    url(../imgs/painel_bt_check.png) no-repeat center right 20px;
}

.btn5-painel1.visto {
  background:
    url(../imgs/painel_bt5.png) no-repeat center,
    url(../imgs/painel_bt_check.png) no-repeat center right 10px;
}

.btn-painel1:hover {
  transform: scale(1.07);
}

.btn1-painel1 {
  background: url('../imgs/painel_bt1.png') no-repeat;
}

.btn2-painel1 {
  background: url('../imgs/painel_bt2.png') no-repeat;
}

.btn3-painel1 {
  background: url('../imgs/painel_bt3.png') no-repeat;
}

.btn4-painel1 {
  background: url('../imgs/painel_bt4.png') no-repeat;
}

.btn5-painel1 {
  background: url('../imgs/painel_bt5.png') no-repeat;
}

.btn1-painel1:hover {
  background: url('../imgs/painel_bt1_hv.png') no-repeat;
}

.btn2-painel1:hover {
  background: url('../imgs/painel_bt2_hv.png') no-repeat;
}

.btn3-painel1:hover {
  background: url('../imgs/painel_bt3_hv.png') no-repeat;
}

.btn4-painel1:hover {
  background: url('../imgs/painel_bt4_hv.png') no-repeat;
}

.btn5-painel1:hover {
  background: url('../imgs/painel_bt5_hv.png') no-repeat;
}

/* FIM PAINEL 1 */
@media screen and (max-width: 1024px) {
  .info1::before {
    left: 75%;
    transform: translateX(-145%);
  }

  .info2::before {
    left: 75%;
    transform: translateX(-145%);
  }

  .info3::before {
    left: 71%;
    transform: translateX(-145%);
  }

  .info4::before {
    left: 75%;
    transform: translateX(-145%);
  }

  .info5::before {
    left: 75%;
    transform: translateX(-145%);
  }

  .info6::before {
    left: 75%;
    transform: translateX(-145%);
  }
}

@media screen and (max-width: 900px) {

  /* INICIO PAINEL 1 */
  .painel1 {
    display: flex;
    background: url(../imgs/painel_mob_BG.png) no-repeat;
    width: 100%;
    background-size: 100% 100%;
    height: 800px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 10px;
    box-shadow: 0 0 7px rgba(4, 27, 73, 0.8);
  }

  .btn-painel1 {
    border: none;
    width: 246px;
    height: 94px;
    background-color: transparent;
    margin: 20px;
    transition: transform 0.3s ease;
  }

  .btn-painel1:hover {
    transform: scale(1.07);
  }

  .btn1-painel1 {
    background: url('../imgs/painel_mob_bt1.png') no-repeat;
  }

  .btn2-painel1 {
    background: url('../imgs/painel_mob_bt2.png') no-repeat;
  }

  .btn3-painel1 {
    background: url('../imgs/painel_mob_bt3.png') no-repeat;
  }

  .btn4-painel1 {
    background: url('../imgs/painel_mob_bt4.png') no-repeat;
  }

  .btn5-painel1 {
    background: url('../imgs/painel_mob_bt5.png') no-repeat;
  }

  .btn1-painel1:hover {
    background: url('../imgs/painel_mob_bt1_hv.png') no-repeat;
  }

  .btn2-painel1:hover {
    background: url('../imgs/painel_mob_bt2_hv.png') no-repeat;
  }

  .btn3-painel1:hover {
    background: url('../imgs/painel_mob_bt3_hv.png') no-repeat;
  }

  .btn4-painel1:hover {
    background: url('../imgs/painel_mob_bt4_hv.png') no-repeat;
  }

  .btn5-painel1:hover {
    background: url('../imgs/painel_mob_bt5_hv.png') no-repeat;
  }

  .btn1-painel1.visto {
    background:
      url(../imgs/painel_mob_bt1.png) no-repeat center,
      url(../imgs/painel_bt_check.png) no-repeat top 40px right 15px;
  }

  .btn2-painel1.visto {
    background:
      url(../imgs/painel_mob_bt2.png) no-repeat center,
      url(../imgs/painel_bt_check.png) no-repeat top 38px right 8px;
  }

  .btn3-painel1.visto {
    background:
      url(../imgs/painel_mob_bt3.png) no-repeat center,
      url(../imgs/painel_bt_check.png) no-repeat top 50px right 15px;
  }

  .btn4-painel1.visto {
    background:
      url(../imgs/painel_mob_bt4.png) no-repeat center,
      url(../imgs/painel_bt_check.png) no-repeat top 26px right 5px;
  }

  .btn5-painel1.visto {
    background:
      url(../imgs/painel_mob_bt5.png) no-repeat center,
      url(../imgs/painel_bt_check.png) no-repeat top 50px right 15px;
  }

  /* FIM PAINEL 1 */
}

@media screen and (max-width: 768px) {
  .info1::before {
    left: 75%;
    transform: translateX(-145%);
    bottom: 130px;
  }

  .info2::before {
    left: 75%;
    transform: translateX(-145%);
    bottom: 130px;
  }

  .info3::before {
    left: 76%;
    transform: translateX(-145%);
    bottom: 130px;
  }

  .info4::before {
    left: 68%;
    transform: translateX(-105%);
    bottom: 32px;
  }

  .info5::before {
    left: 75%;
    transform: translateX(-145%);
    bottom: 90px;
  }

  .info6::before {
    left: 75%;
    transform: translateX(-145%);
    bottom: 90px;
  }
}

@media screen and (max-width: 500px) {
  .caixa-destaque {
    padding-top: 100px !important;
    padding-bottom: 50px !important;
  }

  .header1::after {
    font-size: 15pt;
    padding: 15px;
  }

  .header2::after {
    font-size: 15pt;
    padding: 15px;
  }

  .header3::after {
    font-size: 15pt;
    padding: 15px;
  }

  .header4::after {
    font-size: 15pt;
    padding: 15px;
  }

  .header5::after {
    font-size: 15pt;
    padding: 15px;
  }

  .img-zoom::after {
    content: url(../imgs/ico_zoom.png);
    display: block;
    width: 95px;
    height: 95px;
    right: 0px;
    bottom: -10px;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
    scale: 0.6;
  }

  .info1::before {
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
  }

  .info2::before {
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  .info3::before {
    bottom: 143px;
    left: 56%;
    transform: translateX(-50%);
  }

  .info4::before {
    bottom: 62px;
    left: 18%;
    transform: translateX(-7%);
  }

  .info5::before {
    bottom: 68px;
    left: 50%;
    transform: translateX(-50%);
  }

  .info6::before {
    bottom: 68px;
    left: 50%;
    transform: translateX(-50%);
  }

  .caixa-destaque-diferente1 {
    padding: 2em;
    width: 70%;
    margin: 0 auto;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    border-radius: 1em;
    font-size: 1.2em;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .caixa-destaque-diferente1 p {
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    font-size: inherit;
  }

  .icone-fundamental {
    padding-left: 40px;
    padding-top: 90px;
    background-position: 70px top;
    background-size: 80px 80px;
    background-repeat: no-repeat;
  }

  .caixa-destaque-diferente1::after {
    height: 102%;
  }

  .caixa-destaque-diferente1::before {
    height: 102%;
  }

  .esquerda1 {
    height: 102%;
  }

  .direita1 {
    height: 102%;
  }
}