.bloco1 {
  background: url('../imgs/BG.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  margin-top: -65px;
  padding-top: 65px;
  padding-bottom: 30px;
}

.bloco2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.hljs {
  background: #161616 !important;
}

.caixa-destaque {
  color: #fff;
  background-color: #256CB5;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  margin-bottom: 50px !important;
  margin-top: 50px !important;
}

code,
kbd,
pre,
samp {
  font-family: 'Roboto-mono';
}

.bloco2,
.bloco2 h3 {
  background-color: #2875C6;
  color: #fff;
}

pre {
  padding: 0;
  background: transparent;
  border: none;
  margin: 0;
}

header {
  margin-top: 100px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

/* COMEÇO GAITINHA */
.panel-heading {
  background-color: #256CB5 !important;
  color: #FFF !important;
  border-color: #256CB5 !important;
  border-radius: 20px !important;
}

.panel {
  background-color: transparent !important;
}

.panel-body {
  border-left: 2px solid #256CB5;
  margin-left: 30px;
}

.panel-default {
  border-color: transparent;
}

.panel-title a {
  text-decoration: none;
}

.panel-title a {
  position: relative;
  padding-right: 30px;

}

.panel-title a::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #fff;
}

.panel-title a.open::after {
  border-top: 0;
  border-bottom: 8px solid #256CB5;
}

.panel-heading.open {
  background-color: #fff !important;
  border: 2px solid #256CB5;
}

.panel-title a.open {
  color: #256CB5;
}

/* FIM GAITINHA */
@media screen and (max-width: 900px) {
  .bloco1 {
    background: #fff;
  }
}

@media screen and (max-width: 500px) {
  .caixa-destaque {
    padding-top: 100px !important;
    padding-bottom: 50px !important;
  }
}