.bloco1 {
  background: url('../imgs/BG.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.hljs {
  background: #161616 !important;
}

code,
kbd,
pre,
samp {
  font-family: 'Roboto-mono';
}

.bloco2,
.bloco2 h3 {
  background-color: #2875C6;
  color: #fff;
}

pre {
  padding: 0;
  background: transparent;
  border: none;
  margin: 0;
}

header {
  margin-top: 100px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

@media screen and (max-width: 768px) {}