body {
  background: url('../imgs/') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
  overflow-x: hidden;
}

/* Começo da estilização da espera de vídeos e objetos */
.ratio {
  background-color: #2875C6;
}

.ratio::after {
  content: "ESPERA";
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
}

/* Fim da estilização da espera de vídeos e objetos */
.hljs {
  background: #161616 !important;
}

code,
kbd,
pre,
samp {
  font-family: 'Roboto-mono';
}

.bloco2,
.bloco4 {
  background: url('../imgs/BG2.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bloco1 {
  background: url('../imgs/BG1.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bloco3 {
  background-color: grey;
}

.bloco5,
.bloco5 h2 {
  background-color: #2875C6;
  color: #fff;
}

.bloco1,
.bloco2,
.bloco3,
.bloco4,
.bloco5 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.top {
  background: url('../imgs/parallax_div_topo.jpg') no-repeat;
  width: 100%;
  height: 41px;
  background-size: cover;
}

.bottom {
  background: url('../imgs/parallax_div_bottom.jpg') no-repeat;
  width: 100%;
  height: 41px;
  background-size: cover;
}

.parallax1 {
  background: url('../imgs/Parallax1.jpg') no-repeat center center;
  background-size: cover;
  height: 450px;
  width: 100%;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}

.parallax2 {
  background: url('../imgs/Parallax2.jpg') no-repeat center center;
  background-size: cover;
  height: 450px;
  width: 100%;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}

.parallax3 {
  background: url('../imgs/Parallax3.jpg') no-repeat center center;
  background-size: cover;
  height: 450px;
  width: 100%;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}

pre {
  padding: 0;
  background: transparent;
  border: none;
  margin: 0;
}

header {
  margin-top: 100px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

/* INICIO PAINEL 1 */
.painel1 {
  display: flex;
  background: url(../imgs/painel_fundo.png) no-repeat;
  width: 100%;
  height: 553px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-painel1 {
  border: none;

  background-color: transparent;
  margin: 20px;
}

.btn1-painel1 {
  background: url('../imgs/painel_bt1.png') no-repeat;
  width: 385px;
  height: 324px;
}

.btn2-painel1 {
  background: url('../imgs/painel_bt2.png') no-repeat;
  width: 377px;
  height: 398px;
}

.btn3-painel1 {
  background: url('../imgs/painel_bt3.png') no-repeat;
  width: 338px;
  height: 359px;
}

.btn4-painel1 {
  background: url('../imgs/painel_bt4.png') no-repeat;
  width: 377px;
  height: 398px;
}

.btn5-painel1 {
  background: url('../imgs/painel_bt5.png') no-repeat;
  width: 385px;
  height: 324px;
}

.btn1-painel1:hover {
  background: url('../imgs/painel_bt1_hv.png') no-repeat;
}

.btn2-painel1:hover {
  background: url('../imgs/painel_bt2_hv.png') no-repeat;
}

.btn3-painel1:hover {
  background: url('../imgs/painel_bt3_hv.png') no-repeat;
}

.btn4-painel1:hover {
  background: url('../imgs/painel_bt4_hv.png') no-repeat;
}

.btn5-painel1:hover {
  background: url('../imgs/painel_bt5_hv.png') no-repeat;
}

/* FIM PAINEL 1 */
@media screen and (max-width: 768px) {}